<template>
  <div class="cart" v-if="!!cartProducts.length">
    <div class="cart__title">Корзина</div>
    <div class="cart__products">
      <cart-product-component
        v-for="cartProduct in cartProducts"
        :key="cartProduct.id"
        :cartProduct="cartProduct"
        v-on:remove-product="_removeProduct($event)"
      ></cart-product-component>
    </div>
    <div class="cart__total">Итого: {{ total + "₽" }}</div>
    <div class="cart__button">
      <n-button strong secondary @click.prevent="buyProducts()" size="large"
        >Заказать</n-button
      >
    </div>
  </div>
  <div class="cart__empty" v-else>
    <div class="cart__title">Корзина пуста</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import store from "@/store";
import CartProductComponent from "@/components/CartProduct.vue";
import { CartProduct } from "@/types/cart.type";
import { NButton, useMessage } from "naive-ui";
import router from "@/router";

export default defineComponent({
  name: "cart",
  store: store,
  components: {
    CartProductComponent,
    NButton,
  },
  computed: {
    cartProducts() {
      return store.getters.cartItems;
    },
    total() {
      return store.getters.cartItems.reduce(
        (total: number, catItem: CartProduct) => {
          return total + catItem.product.price * catItem.quantity;
        },
        0
      );
    },
  },
  setup() {
    const message = useMessage();
    return {
      buyProducts() {
        message.success("Заказ успешно создан !", {
          keepAliveOnHover: true,
        });
        store.commit("clearCart");
        router.push({ name: "products" });
      },
    };
  },
  methods: {
    _removeProduct(cartProduct: CartProduct) {
      store.commit("removeFromCart", cartProduct.id);
    },
  },
});
</script>

<style scoped lang="scss">
.cart {
  height: 100%;
  padding: 30px;

  &__products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title,
  &__total {
    align-self: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 195px);
  }
}
</style>
