<template>
  <div class="product">
    <product-details :product="product"></product-details>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import DataService from "@/services/data.service";
import { HttpResponse } from "@/types/response.type";
import { Product } from "@/types/product.type";
import ProductDetails from "@/components/ProductDetails.vue";

export default defineComponent({
  name: "product",
  components: {
    ProductDetails,
  },
  data() {
    return {
      product: {} as Product,
    };
  },
  methods: {
    fetchProductById(id: number) {
      DataService.getProduct(id)
        .then((response: HttpResponse<Product>) => {
          this.product = response.data;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.fetchProductById(parseInt(this.$route.params.id.toString()));
  },
});
</script>

<style scoped lang="scss">
.product {
}
</style>
