<template>
  <div class="products">
    <categories :categories="categories"></categories>
    <product-list :products="products"></product-list>
  </div>
</template>
<script lang="ts">
import ProductList from "@/components/ProductList.vue";
import Categories from "@/components/Categories.vue";
import { defineComponent } from "vue";
import DataService from "@/services/data.service";
import { ListHttpResponse } from "@/types/response.type";
import { Product } from "@/types/product.type";
import { Category } from "@/types/category.type";

export default defineComponent({
  name: "products",
  components: {
    ProductList,
    Categories,
  },
  data() {
    return {
      products: [] as Product[],
      categories: [] as Category[],
    };
  },
  methods: {
    fetchProducts() {
      DataService.getProducts()
        .then((response: ListHttpResponse<Product>) => {
          this.products = response.data.items;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
    fetchCategories() {
      DataService.getCategories()
        .then((response: ListHttpResponse<Category>) => {
          this.categories = response.data.items;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.fetchProducts();
    this.fetchCategories();
  },
});
</script>

<style scoped lang="scss">
.products {
  height: 100%;
}
</style>
