<template>
  <div class="products-by-category">
    <div class="products-by-category__category">
      Категория: {{ category.name }}
    </div>
    <product-list :products="products"></product-list>
  </div>
</template>
<script lang="ts">
import ProductList from "@/components/ProductList.vue";
import { defineComponent } from "vue";
import DataService from "@/services/data.service";
import { HttpResponse, ListHttpResponse } from "@/types/response.type";
import { Product } from "@/types/product.type";
import { Category } from "@/types/category.type";

export default defineComponent({
  name: "products-by-category",
  components: {
    ProductList,
  },
  data() {
    return {
      products: [] as Product[],
      category: {} as Category,
    };
  },
  methods: {
    fetchProductsByCategory(id: number) {
      DataService.getProductsByCategory(id)
        .then((response: ListHttpResponse<Product>) => {
          this.products = response.data.items;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
    fetchCategory(id: number) {
      DataService.getCategoryById(id)
        .then((response: HttpResponse<Category>) => {
          this.category = response.data;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
  },
  mounted() {
    const categoryId = parseInt(this.$route.params.id.toString());
    this.fetchProductsByCategory(categoryId);
    this.fetchCategory(categoryId);
  },
});
</script>

<style scoped lang="scss">
.products-by-category {
  height: 100%;

  &__category {
    padding-top: 20px;
    font-size: 28px;
    font-weight: 700;
    color: #333333;
  }
}
</style>
