<template>
  <div class="cart-product">
    <div class="cart-product__image-container">
      <img
        class="cart-product__image"
        :src="cartProduct.product.smallThumbnailUrl"
      />
    </div>
    <div class="cart-product__content">
      <div class="cart-product__title">
        <div class="cart-product__title-text" v-on:click="_routeToProduct()">
          {{ cartProduct.product.name }}
        </div>
        <div class="cart-product__title-remove">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="cart-product__title-remove-icon"
            v-on:click="$emit('remove-product', cartProduct)"
          >
            <path
              d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v10zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
      </div>
      <div class="cart-product__option" v-if="!!cartProduct.option.text">
        Размер: {{ cartProduct.option.text }}
      </div>
      <div class="cart-product__quantity">
        Кол-во: {{ cartProduct.quantity }}
      </div>
      <div class="cart-product__amount">
        Сумма: {{ cartProduct.product.price * cartProduct.quantity + "₽" }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import router from "@/router";

export default defineComponent({
  name: "cart-product",
  props: ["cartProduct"],
  methods: {
    _routeToProduct() {
      router.push({
        name: "product",
        params: { id: this.cartProduct.product.id },
      });
    },
  },
});
</script>

<style scoped lang="scss">
.cart-product {
  display: flex;
  padding-bottom: 20px;
  min-width: 410px;

  &__content {
    display: flex;
    width: calc(100% - 100px);
    flex-direction: column;
    align-items: start;
    font-size: 16px;
    font-weight: 400;
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &-text {
      cursor: pointer;

      &:hover {
        color: #1e7ec8;
      }
    }

    &-remove {
      display: flex;

      &-icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__option,
  &__quantity {
    color: #757575;
  }

  &__image {
    width: 100px;
    height: 100px;
    transition: transform 0.5s ease;

    &-container {
      margin-right: 20px;
      overflow: hidden;
      width: 100px;
      height: 100px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
</style>
