<template>
  <div
    class="category-card"
    @mouseover="elementHover = true"
    @mouseleave="elementHover = false"
    @click.prevent="$emit('change-category', category)"
  >
    <div class="category-card__image-container">
      <img
        class="category-card__image"
        :class="{ 'image-hover': elementHover }"
        :src="category.thumbnailUrl"
      />
    </div>
    <div class="category-card__name">{{ category.name }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "category-card",
  props: ["category", "activeId"],
  data() {
    return {
      elementHover: false,
    };
  },
});
</script>

<style scoped lang="scss">
.category-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  padding: 0.1%;
  width: 256px;
  height: 270px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgb(51 51 51 / 10%) inset;

  &__image {
    transition: transform 0.5s ease;
    width: 255px;
    height: 255px;

    &-container {
      overflow: hidden;
      width: 255px;
      height: 255px;
    }

    &.image-hover {
      transform: scale(1.1);
    }
  }

  &__name {
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }
}
</style>
