<template>
  <div class="categories">
    <div class="categories__title">Категории</div>
    <div class="categories__list">
      <category-card
        v-for="(category, i) in categories"
        :key="i"
        :category="category"
        v-on:change-category="_toProductsByCategory($event)"
      ></category-card>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CategoryCard from "@/components/CategoryCard.vue";
import { Category } from "@/types/category.type";
import router from "@/router";

export default defineComponent({
  name: "categories",
  props: ["categories"],
  components: {
    CategoryCard,
  },
  methods: {
    _toProductsByCategory(category: Category) {
      router.push({
        name: "products-by-category",
        params: { id: category.id },
      });
    },
  },
});
</script>

<style scoped lang="scss">
.categories {
  padding: 30px;

  &__title {
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    color: hsla(0, 0%, 20%, 1);
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
</style>
