<template>
  <div class="shop-footer__wrap">
    <div class="shop-footer__name">
      © Название вашей компании, 2021 Фото: Tamara Bellis, Malvestida Magazine,
      Erica Zhou (Unsplash.com)
    </div>
    <div class="shop-footer__platform">
      <a
        class="shop-footer__platform-link"
        target="_blank"
        href="http://www.ecwid.com?utm_source=instantsite&amp;utm_medium=powered-by-link&amp;utm_campaign=stores"
      >
        Работает на платформе
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          xmlns="http://www.w3.org/2000/svg"
          class="shop-footer__platform-svg"
        >
          <g fill="currentColor" fill-rule="evenodd">
            <path
              d="M21.523 0H6.377C2.89 0 0 2.9 0 6.4v15.3C0 25.2 2.89 28 6.377 28h15.246C25.11 28 28 25.2 28 21.6V6.4C27.9 2.9 25.01 0 21.523 0Zm-4.085 7.5c.697 0 1.295.6 1.295 1.3 0 .7-.598 1.3-1.295 1.3-.698 0-1.296-.6-1.296-1.3 0-.7.598-1.3 1.296-1.3Zm0 3.6c.697 0 1.295.6 1.295 1.3 0 .7-.598 1.3-1.295 1.3-.698 0-1.296-.6-1.296-1.3 0-.7.598-1.3 1.296-1.3ZM13.85 7.5c.697 0 1.295.6 1.295 1.3 0 .7-.598 1.3-1.295 1.3-.698 0-1.296-.6-1.296-1.3 0-.7.598-1.3 1.296-1.3Zm0 3.6c.697 0 1.295.6 1.295 1.3 0 .7-.598 1.3-1.295 1.3-.698 0-1.296-.6-1.296-1.3.1-.7.598-1.3 1.296-1.3Zm-3.488-3.6c.697 0 1.295.6 1.295 1.3 0 .7-.598 1.3-1.295 1.3-.698 0-1.295-.6-1.295-1.3 0-.7.597-1.3 1.295-1.3Zm0 3.6c.697 0 1.295.6 1.295 1.3 0 .7-.598 1.3-1.295 1.3-.698 0-1.295-.6-1.295-1.3 0-.7.597-1.3 1.295-1.3ZM6.975 24.4c-1.295 0-2.391-1.1-2.391-2.4 0-1.3 1.096-2.4 2.391-2.4s2.392 1.1 2.392 2.4c0 1.4-1.097 2.4-2.392 2.4Zm13.85.2c-1.295 0-2.39-1.1-2.39-2.4 0-1.3 1.095-2.4 2.39-2.4 1.296 0 2.392 1.1 2.392 2.4 0 1.3-.996 2.4-2.391 2.4ZM25.11 4.9l-2.49 9.3c-.698 2.5-2.79 4-5.282 4h-1.594c-.498 0-1.296-.3-1.694-.6-.1-.1-.1-.1-.2 0-.298.3-1.096.6-1.693.6h-1.794c-2.491 0-4.384-1.4-5.082-3.8L3.09 7.8c0-.1 0-.3.1-.4.1-.1.199-.2.398-.2h.399c.996 0 1.793.6 2.092 1.6l1.595 4.9c.398 1.3 1.793 2.2 3.188 2.2h.598c.598 0 1.096-.3 1.295-.6.1-.1.3-.2.499-.2h1.395c.199 0 .398.1.498.2.299.3.697.6 1.295.6h.598c1.395 0 2.79-1 3.189-2.4L22.22 6c.299-1 1.195-1.7 2.192-1.7h.498c.1.2.2.4.2.6Z"
            ></path>
            <path
              d="M20.9 21.3c-.5 0-.9.4-.9.9s.4.9.9.9.9-.4.9-.9-.4-.9-.9-.9zM7 21.2c-.5 0-.9.4-.9.9s.4.9.9.9.9-.4.9-.9c-.1-.5-.5-.9-.9-.9z"
            ></path>
          </g>
        </svg>
        Ecwid от Lightspeed
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "shop-footer",
});
</script>

<style scoped lang="scss">
.shop-footer {
  &__wrap {
    width: 100%;
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(0, 0%, 0%, 0.02);
  }

  &__name {
    padding: 30px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
    color: hsla(0, 0%, 20%, 1);
  }

  &__platform {
    padding: 0 0 40px 0;

    &-link {
      display: flex;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      color: hsla(0, 0%, 60%, 0.8);
    }

    &-svg {
      width: 1.1em;
      height: 1.1em;
      margin: 0 0.5em;
    }
  }
}
</style>
