<template>
  <div class="shop-header__wrap">
    <div class="shop-header__container">
      <div class="shop-header__title" v-on:click="_routeToMain()">Магазин</div>
      <div class="shop-header__cart">
        <n-icon>
          <svg
            v-if="isCartEmpty"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            class="shop-header__cart-icon"
            v-on:click="_routeToCart()"
          >
            <g fill="none">
              <path
                d="M10 2.5a2.5 2.5 0 0 0-4 2V6H5a1 1 0 0 0-1 1v8a3 3 0 0 0 3 3h6.5a2.5 2.5 0 0 0 2.5-2.5V7a1 1 0 0 0-1-1h-1V4.5a2.5 2.5 0 0 0-4-2zm-3 2a1.5 1.5 0 1 1 3 0V6H7V4.5zm3.667-1.248A1.5 1.5 0 0 1 13 4.5V6h-2V4.5c0-.454-.121-.88-.333-1.248zM7 17a2 2 0 0 1-2-2V7h6v8.5c0 .563.186 1.082.5 1.5H7zm8-1.5a1.5 1.5 0 0 1-3 0V7h3v8.5z"
                fill="currentColor"
              ></path>
            </g>
          </svg>
          <svg
            v-else
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            class="shop-header__cart-icon"
            v-on:click="_routeToCart()"
          >
            <g fill="none">
              <path
                d="M6 6V4.5c0-.344.065-.667.195-.969c.13-.307.31-.573.539-.797c.224-.229.49-.409.797-.539c.302-.13.625-.195.969-.195c.281 0 .549.044.805.133c.256.089.49.214.703.375A2.442 2.442 0 0 1 11.5 2a2.484 2.484 0 0 1 2.305 1.531c.13.302.195.625.195.969V6h1a1 1 0 0 1 1 1v8c0 .417-.078.807-.234 1.172c-.156.359-.37.677-.641.953c-.18.176-.377.328-.594.456l-.59-.256l-.495-.221l-.212-.117l-.222-.165l-.241-.212l-.268-.286A1.951 1.951 0 0 1 12 15V6h1V4.5c0-.208-.039-.404-.117-.586A1.482 1.482 0 0 0 11.5 3c-.307 0-.583.086-.828.258A2.503 2.503 0 0 1 11 4.5V15a2.95 2.95 0 0 0 .766 2l.309.33l.308.27l.309.23L13 18H7a3 3 0 0 1-2.117-.875a3.061 3.061 0 0 1-.648-.953A2.932 2.932 0 0 1 4 15V7a1 1 0 0 1 1-1h1zm1 0h3V4.5c0-.208-.039-.404-.117-.586A1.482 1.482 0 0 0 8.5 3c-.208 0-.404.039-.586.117A1.482 1.482 0 0 0 7 4.5V6z"
                fill="currentColor"
              ></path>
            </g>
          </svg>
        </n-icon>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { NIcon } from "naive-ui";
import router from "@/router";
import store from "@/store";

export default defineComponent({
  name: "shop-header",
  components: {
    NIcon,
  },
  store: store,
  methods: {
    _routeToMain() {
      router.push({ name: "products" });
    },
    _routeToCart() {
      router.push({ name: "cart" });
    },
  },
  computed: {
    isCartEmpty() {
      return store.getters.isCartEmpty;
    },
  },
});
</script>

<style scoped lang="scss">
.shop-header {
  &__wrap {
    width: 100%;
    height: 70px;
  }

  &__container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 1px 3px 1px rgb(0 0 0 / 9%), inset 0 -1px 0 0 rgb(0 0 0 / 5%);
  }

  &__title {
    cursor: pointer;
    align-self: center;
    padding: 0 30px;
    font-size: 30px;
    font-weight: 700;
  }

  &__cart {
    align-self: center;
    padding: 0 40px;

    &-icon {
      cursor: pointer;
      width: 38px;
      height: 38px;
    }
  }
}
</style>
