<template>
  <div class="product-list">
    <div class="product-list__title">Продукты</div>
    <div class="product-list__container">
      <product-card
        class="product-list__card"
        v-for="(product, i) in products"
        :key="i"
        :product="product"
        v-on:product-details="_productDetails($event)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Product } from "@/types/product.type";
import ProductCard from "@/components/ProductCard.vue";
import router from "@/router";

export default defineComponent({
  name: "product-list",
  props: ["products"],
  components: {
    ProductCard,
  },
  methods: {
    _productDetails(product: Product) {
      router.push({ name: "product", params: { id: product.id } });
    },
  },
});
</script>

<style scoped lang="scss">
.product-list {
  height: 100%;
  padding: 30px 20px;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
  }

  &__title {
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    color: hsla(0, 0%, 20%, 1);
  }
}
</style>
