<template>
  <div
    class="product-card__container"
    @mouseover="elementHover = true"
    @mouseleave="elementHover = false"
    @click.prevent="$emit('product-details', product)"
  >
    <div class="product-card__image-container">
      <img
        class="product-card__image"
        :class="{ 'image-hover': elementHover }"
        :src="product.thumbnailUrl"
      />
    </div>
    <div class="product-card__name">{{ product.name }}</div>
    <div class="product-card__value">
      {{ product.defaultDisplayedPriceFormatted }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "product-card",
  props: ["product"],
  data() {
    return {
      elementHover: false,
    };
  },
});
</script>

<style scoped lang="scss">
.product-card {
  &__container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    transition: transform 0.5s ease;
    width: 255px;
    height: 255px;

    &-container {
      overflow: hidden;
      width: 255px;
      height: 255px;
    }

    &.image-hover {
      transform: scale(1.1);
    }
  }

  &__name {
    padding-top: 10px;
    color: #333;
    font-size: 16px;
  }

  &__value {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 600;
  }
}
</style>
