<template>
  <div class="product-details">
    <n-carousel class="product-details__carousel" autoplay>
      <n-image
        class="product-details__image"
        v-for="image in product.galleryImages"
        :key="image"
        :src="image.url"
        :height="image.height > image.width ? 700 : ''"
        :width="image.width > image.height ? 500 : ''"
      ></n-image>
    </n-carousel>
    <div class="product-details__panel">
      <div class="product-details__panel-title">{{ product.name }}</div>
      <div class="product-details__panel-price">
        {{ product.defaultDisplayedPriceFormatted }}
      </div>
      <div class="product-details__panel-options" v-if="!!choices.length">
        <n-radio-group v-model:value="value" name="radiogroup" size="large">
          <n-space>
            <n-radio
              v-for="choice in choices"
              :key="choice.text"
              :value="choice.text"
            >
              {{ choice.text }}
            </n-radio>
          </n-space>
        </n-radio-group>
      </div>
      <div class="product-details__panel-button">
        <n-button strong secondary @click.stop="_buyProduct()">
          В корзину
        </n-button>
      </div>
      <div class="product-details__panel-description-title">
        Информация о товаре
      </div>
      <div
        class="product-details__panel-description-text"
        v-html="product.description"
      ></div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { NCarousel } from "naive-ui/lib/carousel";
import { NButton, NImage, NRadio, NRadioGroup, NSpace } from "naive-ui";
import { ProductOptionsChoice } from "@/types/product.type";
import store from "@/store";

export default defineComponent({
  name: "product-details",
  props: ["product"],
  store: store,
  components: {
    NImage,
    NCarousel,
    NButton,
    NRadio,
    NRadioGroup,
    NSpace,
  },
  data() {
    return {
      choices: [] as ProductOptionsChoice[],
    };
  },
  setup() {
    return {
      value: ref(""),
    };
  },
  methods: {
    _buyProduct() {
      store.commit("addToCart", {
        product: this.product,
        option: { text: this.value },
      });
    },
  },
  watch: {
    product: {
      immediate: true,
      handler(newVal, oldVal) {
        this.choices = !!newVal.options?.length && newVal.options[0].choices;
        this.value = (this.choices?.length && this.choices[0].text) || "";
      },
    },
  },
});
</script>

<style scoped lang="scss">
.product-details {
  display: flex;
  flex-direction: row;
  padding: 40px 100px;

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    width: 350px;
    color: hsla(0, 0%, 20%, 1);
    font-size: 26px;

    &-title {
      text-align: initial;
      font-weight: 600;
    }

    &-price {
      font-weight: 400;
    }

    &-description {
      &-title {
        font-size: 16px;
        font-weight: 600;
        padding-top: 20px;
      }

      &-text {
        font-size: 16px;
        text-align: justify;
      }
    }
  }

  &__carousel {
    width: 700px;
    height: 700px;
  }
}
</style>

<style lang="scss">
.n-carousel__slides {
  align-items: center;
}
</style>
