<template>
  <shop-header />
  <div class="main">
    <n-message-provider>
      <router-view />
    </n-message-provider>
  </div>
  <shop-footer />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import ShopHeader from "@/components/Header.vue";
import ShopFooter from "@/components/Footer.vue";
import store from "@/store";
import { NMessageProvider } from "naive-ui";

export default defineComponent({
  name: "app",
  store: store,
  components: {
    ShopHeader,
    ShopFooter,
    NMessageProvider,
  },
  mounted() {
    store.commit("updateCartFromLocalStorage");
  },
});
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

#app {
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 20%, 1);
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.main {
  min-height: calc(100vh - 195px);
  z-index: 10;
  width: 100%;
}
</style>
